.loginreg{
    width: 100%;
    height: 120vh;
    background: linear-gradient(180deg, rgb(160, 153, 153), white);
    padding-top: 100px;
}
.login-cont{
    width: 580px;
    height: 760px;
    background: lightgrey;
    margin: auto;
    padding: 40px 60px;
    border-style: double;
    
}
.login-cont h1{
    margin: 20px 0px;
}
.sign-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.sign-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid cornsilk;
    color:  gray;
    outline: none;
    font-size: 18px;
}
.login-cont button{
    width: 600px;
    height: 72px;
    color: white;
    background: rgb(37, 37, 37);
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.login-field{
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.login-field span{
    color: blue;
    font-weight: 600;    
}
.login-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}