.shop-category{
    background: linear-gradient(180deg, rgb(160, 153, 153), white);
}

.shop-banner{
    display: block;
    margin: 0px auto;
    width: 82%;
}

.shop-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shop-indexSort p span{
    font-weight: 600;
}
.shopcat-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcat-prod{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 80px;
}

